.services {
  background: url('../../assets/img/decor/services-decor.svg') no-repeat right
    bottom;
  padding-bottom: 350px;
  margin-bottom: 145px;

  &__container {
    max-width: 1420px;
  }

  &__title {
    @include section-title;
  }

  &__subtitle {
    @include section-subtitle;
    margin-bottom: 3rem;
  }

  &__tabs {
    margin-bottom: 7rem;
    @include flex-align-center;
    gap: 1rem 3.8rem;
    flex-wrap: wrap;
  }

  &__tab {
    outline: none;
    width: 180px;
    padding: 0.5rem;
    border: 5px solid $main-green;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: $main-green;
    color: #fff;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &.active {
      background-color: #fff;
      color: $main-green;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__cards {
    @include flex-center;
    flex-wrap: wrap;
    gap: 5rem 3.25rem;
  }

  &__card {
    flex-basis: 432px;
    border-radius: 60px 0px;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    animation: card-popup 500ms ease-in;

    &.architecture {
      background-color: $light-brown;
    }
  }

  &__card-title {
    margin-bottom: 0.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem;
    color: $heading;
  }

  &__card-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.01em;
    color: $main-text;
  }

  @media (max-width: 992px) {
    &__tabs {
      flex-direction: column;
    }

    &__title,
    &__subtitle {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    & {
      background: none;
      padding-bottom: 0;
      margin-bottom: 90px;
    }
  }
}

@keyframes card-popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
